<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
<p><span th:utext="${info}"></span></p>
<p th:text="${person.name}"></p>
<p th:text="${person.age}"></p>
<div th:switch="${person.sex}">
    <p th:case="1">Nam</p>
    <p th:case="2">Nữ</p>
    <p th:case="*">Chưa xác định</p>
</div>
<p th:if="${person.isMarried}">Đã kết hôn</p>
<p th:unless="*{person.isMarried}">Chưa kết hôn</p>
<p th:text="${person.createTime}"></p>
<p th:text="${person.language}"></p>
</body>
</html>
